a, a:any-link {
    color: #40AE7B;
    text-shadow: black 1px 1px;
}

a:hover{
    color: #40AE7B;
}

.nav-item.bg-success{
    border-bottom-left-radius: 2px;
    box-shadow: #40AE7B 3px 5px 1px;
    text-shadow: black 1px 1px;
    letter-spacing: 2px;
    transition-duration: 0.5s;
}

.tl-logo {
    width: 11vw;
    border-radius: 30%;
    min-width: 190px;
    margin-right: 1vw;
    box-shadow: #000055 0px 0px 10px;
}

.card {
    border-width: 0.3vw;
}

.navbar-brand {
    margin-right: 23vw;
}

.noRightMargin {
    margin-right: 0;
}

.nav-item:hover,.nav-item:focus-visible {
    filter: brightness(110%);
    letter-spacing: 2px;
    transition-duration: 0.5s;
}

.navbar-toggler{
    box-shadow: white 1px 1px 5px;
}

.breadcrumb-item:first-child {
    margin-left: 20px;
}

.breadcrumb, .nav-item {
    border-top: #40ae7b solid calc(0.2vh + 0.2vw);
    padding: 0.5vw;
    border-radius: max(3px, min(2vw, 30px));
}

.carousel-chart {
    height: calc(30vh + 200px);
}

.productIcon {
    display: block;
    font-size: 10vw;
    text-align: center;
}

.productIconB {
    display: block;
    font-size: 5vw;
    line-height: 10vw;
    text-align: center;
}

@media(min-width:770px) and (max-width:990px) {
    .socials:first-child{
        margin-left: 30px;
    }
}

@media(min-width:770px) {
    #newsLetterSubmit {
        margin-right: 60px;
    }
}

@media(min-width:990px) {
    #newsLetterSubmit {
        margin-right: 100px;
    }
}

.text-purple {
    color: purple;
}

.socials {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.bg-smoke {
    background-color: #111A;
}

.bg-black {
    background-color: black !important;
}

.bg-smoke-success {
    background-color: #4A7A;
}

#c {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}