.topnav {
    background-color: #333;
    overflow: hidden;
    font-size: 3vw;
}

.topnav a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 1vh 2vw;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ccc;
    color: black;
}

.topnav a.active {
    background-color: #f30;
    color: white;
}

